
@model PlayMusic.Models.Genre




<div class="row">
    @foreach (var album in Model.Albums)
    {



        <div class="card" onclick="location.href='/Albums/AlbumDetails/@album.AlbumId';">
            <img src="@album.AlbumArtUrl">
            <div style="width:100%;height:80px;">
                <h6>  <b>Artist :</b> @album.Artist.Name</h6>
                @Html.ActionLink(@album.Title, "AlbumDetails", "Albums", new { id = @album.AlbumId }, new { area = "" })


            </div>



            <h5 class="pull-left" style="margin-right:15px"><b>@album.Price.ToString("c")</b></h5>
            <div class="pull-right" style="margin-top:7px">



                @Html.ActionLink(" ", "AddToCart", "ShoppingCart", new { id = @album.AlbumId }, new { @class = "glyphicon glyphicon-shopping-cart" })


            </div>

        </div>


    }

</div>