<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Play Music</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lets Play Music ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">@Html.ActionLink("Home", "Index", "Home")</li>

                    
                        @{Html.RenderAction("GenreMenu", "Home");}
                   
                        @{Html.RenderAction("ArtistMenu", "Home");}



                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Browse", "Home")</li>*@



                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
        <hr />
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify"> Musician's Friend was founded in 1983 by Rob and DeAnna Eastman. Newly married, the Eastmans financed the start-up with a $5,000 loan from Rob's parents and ran the business out of their suburban California garage. Eventually relocating headquarters from San Diego to a dairy barn in Southern Oregon, Rob and DeAnna, along with brother-in-law, Al Dinardi, grew the business into a prominent direct marketer of music gear..</p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="@Url.Action("SearchResult", "Home")">Search Albums</a></li>
                            <li><a href="http://scanfcode.com/category/front-end-development/">Genre</a></li>
                            <li><a href="http://scanfcode.com/category/back-end-development/">Artist</a></li>
                           
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="http://scanfcode.com/about/">About Us</a></li>
                            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">
                            Copyright &copy; 2020 All Rights Reserved by
                            <a href="#">QAYAD</a>.
                        </p>

                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                          
                            <li><a class="facebook" href="https://www.facebook.com/MusicStoreKoeln"><i class="fa fa-facebook"></i></a></li>

                            <li><a class="twitter" href="#"><i class="fa fa-cloud"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
